@import "reset.css";

* {
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", sans-serif;
    background-color: #eee;
    font-size: 16px;
    line-height: 1.5;
}

.mr_bottom {
    margin-bottom: 20px;
}

.container {
    width: 512px;
    min-height: 150px;
    margin: 5px auto 50px;
    padding: 50px 50px 70px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 0 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         0 0 5px 0 rgba(50, 50, 50, 0.75);
}
.user_info {
    text-align: center;
}
.user_info h2 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 22px;
}
.content {
    padding: 15px 0 15px 15px;
}
.br_bottom {
    border-bottom: 1px solid #7a7a7a;
}
ul li {
    list-style-type: disc;
    margin-left: 20px;
}