/*css (margin, padding, color, text-align, text-decoration, background, font-family, font-size, font-weight, width, height, box-shadow*/
* {
    margin: 0; /*сброс дефолтных отступов в браузере*/
    padding: 0; /*сброс дефолтных полей в браузере*/
}
@import "reset.css";
div {
    width: 500px;
    margin: 50px auto;
    text-align: center;
}
h1 {
    color: #000; /* text color */
    font-family: "Arial";
    font-size: 36px;
    font-weight: bold;
}
img {
    width: 200px;
    height: 200px;
    border: 1px solid #8f8f8f; /* stroke */
    background-color: #0055d3; /* layer fill content */
}
p {
    opacity: .8; /* layer alpha */
    color: #1f1f1f; /* text color */
    font-family: "Arial";
    font-size: 14px;
    text-align: left;
    padding-left: 37px;
}
h2 {
    color: #1f1f1f; /* text color */
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
ul {
    opacity: .8; /* layer alpha */
    color: #1f1f1f; /* text color */
    font-family: "Arial";
    font-size: 14px;
    text-align: left;
    padding-left: 37px;
}
