@import "reset.css";

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue.ttf");
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background-image: url("../img/bg_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

}
.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
a {
    text-decoration: none;
}
header {
    background: #08579a;
    height: 36px;
    margin: 0 -9999px;
    padding: 0 9999px;
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
}
.ola {
    color: #fff;
    float: right;
    padding: 9px 15px;
    width: 195px;
    height: 36px;
    border: 1px solid #53a0da;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE5NSA0MiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjExNSUiIHgyPSI1MCUiIHkyPSItMTUlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KPHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiMwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxOTUiIGhlaWdodD0iNDIiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.3) -15%, rgba(0,0,0,.3) 10.99%, rgba(255,255,255,.3) 115%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.3) -15%, rgba(0,0,0,.3) 10.99%, rgba(255,255,255,.3) 115%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.3) -15%, rgba(0,0,0,.3) 10.99%, rgba(255,255,255,.3) 115%);
    background-image: linear-gradient(bottom, rgba(0,0,0,.3) -15%, rgba(0,0,0,.3) 10.99%, rgba(255,255,255,.3) 115%);

}
.ola ul li {
    display: inline-block;
}
.ola a {
    color: #fff;
    text-decoration: underline;
}

.ofertas {
    float: right;
    padding: 9px 15px 9px 5px;
}
.ofertas a {
    color: #fefefe;
    font-weight: bold;
}
.flag {
    float: right;
    padding-top: 3px;
}
.top_separator {
    float: right;
    padding: 2px 5px;
}
.menu {
    float: right;
}
.menu ul li {
    display: inline-block;
    padding: 9px 15px;
}
.menu a {
    color: #5fb5ec;
}
.menu ul li:hover {
    height: 36px;
    background: #4eabda;
    color: #fff;
}
.menu ul li a:hover {
    color: #fff;
}
.content {
    margin: 80px auto;
}
.top_input {
    width: 560px;
    height: 62px;
    margin: 0 auto;
    padding: 17px 214px;
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: bold;
    background: rgba( 0, 0, 0, 0.6);
}
.main_input {
    width: 560px;
    height: 549px;
    margin: 2px auto 0;
    background: rgba( 0, 0, 0, 0.6);
}
/* Shared */
.loginBtn {
    position: relative;
    margin: 36px 0 15px 137px;
    padding: 0 69px 0 78px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;

}
.loginBtn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 100%;

}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#3d5699, #334164);
    font-family: "Helvetica neue", sans-serif;
    text-shadow: 0 -1px 0 #354C8C;


}
.loginBtn--facebook:before {
    border-right: #4e63a2 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#3d5699, #334164);
}

.ou {
    text-align: center;
    color: #999;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.ou:before, .ou:after {
    content: "";
    display: inline-block; /* делаем линию строчно-блочной */
    vertical-align: middle; /* выравниваем вертикально по середине */
    width: 129px;
    height: 2px;
    background: url("../img/central_separator.png");
}
.menu_input li input{
    display: block;
    margin: 20px auto;
    width: 284px;
    height: 41px;
    border: 0;
    padding-left: 19px;
    color: #cbcbcb;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    -moz-box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    background-image: -moz-linear-gradient(bottom, #111 0%, #0e0d0d 100%);
    background-image: -o-linear-gradient(bottom, #111 0%, #0e0d0d 100%);
    background-image: -webkit-linear-gradient(bottom, #111 0%, #0e0d0d 100%);
    background-image: linear-gradient(bottom, #111 0%, #0e0d0d 100%);

}
.menu_input li input:focus {
    width: 284px;
    height: 41px;
    color: #fffafa;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    padding-left: 19px;
    -moz-box-shadow: 0 1px 0 #4b4b4b, 0 0 9px rgba(47,123,197,.77), inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 0 #4b4b4b, 0 0 9px rgba(47,123,197,.77), inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 0 #4b4b4b, 0 0 9px rgba(47,123,197,.77), inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    background-image: -moz-linear-gradient(bottom, #1b5288 0%, #1b5288 100%);
    background-image: -o-linear-gradient(bottom, #1b5288 0%, #1b5288 100%);
    background-image: -webkit-linear-gradient(bottom, #1b5288 0%, #1b5288 100%);
    background-image: linear-gradient(bottom, #1b5288 0%, #1b5288 100%);

}

input::-webkit-input-placeholder {
    color:#cbcbcb;
}
input::-moz-placeholder {
    color:#c0392b;
}/* Firefox 19+ */
input:-moz-placeholder {
    color:#c0392b;
}/* Firefox 18- */
input:-ms-input-placeholder {
    color:#c0392b;
}
.checkbox_text {
    color: #cbcbcb;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    padding-left: 134px;
}
.cr_account {
    display: block;
    width: 155px;
    height: 41px;
    border: 1px solid #53a0da;
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    margin: 15px auto;
    background-image: -moz-linear-gradient(bottom, #53b1dd -15%, #2e7ac4 115%);
    background-image: -o-linear-gradient(bottom, #53b1dd -15%, #2e7ac4 115%);
    background-image: -webkit-linear-gradient(bottom, #53b1dd -15%, #2e7ac4 115%);
    background-image: linear-gradient(bottom, #53b1dd -15%, #2e7ac4 115%);
    border-radius: 3px;
}
.bottom_text {
    text-align: center;
    color: #cbcbcb;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 11px;
}
